html {
	box-sizing: border-box;
	font-family: Roboto, Helvetica;
	font-weight: 900;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 10px 10px;
	height: 95%;
	background-position: center;
	background-image: url("./topography.svg"),
	linear-gradient(110deg, #111, #444);
	background-attachment: fixed;
	letter-spacing: -1px;
}

.container{
	height: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 1fr;
	color: #eee;
}

.content{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 5fr 2fr;
	grid-template-rows: 1fr;
}

#mapWrapper{
	display: grid;
	grid-template-rows: 1fr 28fr 1fr;
}

#mapHeader{
	display: flex;
	justify-content: space-between;
}

.orange{
	color: #f5818e;
}

#mapLegend{
	display: flex; 
	justify-content: space-between;
}

#sideBar{
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 11fr 9fr;
	padding: 5px 1px;
	background: rgba(155, 155, 155,.2);
	justify-content: center;
}

#sideBar select{
	margin-top: 5px;
	width: 40%;
}

#dropdowns{
	text-align: center;
}
