html {
	box-sizing: border-box;
	font-family: Roboto, Helvetica;
	font-weight: 900;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 10px 10px;
	height: 95%;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
	background-size: auto auto;
	background-position: center;
}

.container{
	height: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 1fr;
	color: #eee;
}

.content{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 5fr 2fr;
	grid-template-rows: 1fr;
}

#mapWrapper{
	display: grid;
	grid-template-rows: 29fr 1fr;
}

#mapLegend{
	display: flex; 
	justify-content: space-between;
}

#sideBar{
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 11fr 9fr;
	padding: 5px 1px;
	background: rgba(155, 155, 155,.2);
	justify-content: center;
}

#sideBar select{
	margin-top: 5px;
	width: 40%;
}

#dropdowns{
	text-align: center;
}
